In [8]:
import pandas as pd
import numpy as np
import math

In [29]:
df = pd.read_csv('adult.data.csv')

In [37]:
race_count = df['race'].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [30]:
average_age_men = math.ceil(df[df['sex'] == 'Male']['age'].mean())
print(average_age_men)

40

In [12]:
percentage_bachelors = (len(df[df['education'] == 'Bachelors'])/len(df))*100
print(f"Percentage of males: {percentage_bachelors:.2f}%")

Percentage of males: 16.45%

In [13]:
higher_education = math.ceil(((len(df[df['education'] == 'Bachelors']) + len(df[df['education'] == 'Masters']) + len(df[df['education'] == 'Doctorate']))/len(df)*100))
print(f"Percentage with Bachelors, Masters or Doctorate: {higher_education:.2f}%")

Percentage with Bachelors, Masters or Doctorate: 24.00%

In [14]:
lower_education = math.ceil((len(df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])])/len(df))*100)
print(f"Percentage without Bachelors, Masters or Doctorate: {lower_education:}%")

Percentage without Bachelors, Masters or Doctorate: 77%

In [15]:
higher_education_rich = math.ceil((len(df[df['education'].isin(['Bachelors','Masters','Doctorate']) & (df['salary'] == '>50K')])/len(df))*100)
print(f"Percentage with Bachelors, Masters or Doctorate earn more than 50K: {higher_education_rich:}%")

Percentage with Bachelors, Masters or Doctorate earn more than 50K: 11%

In [16]:
lower_education_rich = math.ceil((len(df[~df['education'].isin(['Bachelors','Masters','Doctorate']) & (df['salary'] == '>50K')])/len(df))*100)
print(f"Percentage without Bachelors, Masters or Doctorate earn more than 50K: {lower_education_rich:}%")

Percentage without Bachelors, Masters or Doctorate earn more than 50K: 14%

In [17]:

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    sum_work_hours = math.ceil(df['hours-per-week'].mean())
    print(f"The minium hours a person work per week: {sum_work_hours} hours")

The minium hours a person work per week: 41 hours

In [18]:
    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = len(df[(df['hours-per-week'] == 41) & (df['salary'] == '>50K')])/len(df[df['hours-per-week'] == 40])* 100
    print(f"Percentage who work the minimum number of hours per week have a salary of >50K is: {num_min_workers:.3f}%")

Percentage who work the minimum number of hours per week have a salary of >50K is: 0.046%

In [23]:
    # What country has the highest percentage of people that earn >50K?
    earning_country = df[df['salary'] == '>50K'].groupby('native-country').size()
    total_counts= df.groupby('native-country').size()

    percentage = (earning_country/total_counts)*100

    highest_earning_country = percentage.idxmax()
    highest_percentage = percentage.max()
    
    print(f"Country with the highest percentage of people earning >50K: {highest_earning_country}")
    print(f"Percentage: {highest_percentage:.2f}%")

Country with the highest percentage of people earning >50K: Iran
Percentage: 41.86%

In [28]:
top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')].groupby('occupation').size().idxmax()
print(top_IN_occupation)

Prof-specialty

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K